# Entornos virtuales
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Bases de datos y archivos de datos
*.db
*.sqlite3
datos_db/
data/
dbdiagram.txt

# Configuración local
config.json

# Build y Distribución
build/
dist/
*.spec
*.exe
*.msi
instalador.iss

# OS específicos
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Otros
prompt.md
prompt_01.md
temp_code.py
